<% stylesheets('photos') %>
<%= f.wrapped_text_field :title %>
<%= f.wrapped_file_field :image %>
<% if @photo.image? %>
<div class='image_preview'>
	<%= image_tag(@photo.image.url(:full))%>
</div>
<% end %>
<%= f.wrapped_text_area :caption %>
